{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
<h1 class="mt-5">Toutes les séries : </h1>
<div class="row justify-content-center">
    {% for program in programs %}
        <div class="card col-8 col-md-4 col-xl-3 m-5">
            <a href="{{ path('show_program', {'programTitle': program.title }) }}">
                <img src="{{ program.poster }}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ program.title }}</h5>
                <p class="card-text"><p>{{ program.summary }}</p></p>
                <p>Catégorie : {{ program.category.name }}</p>
            </div>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
</div>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}