{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ websitehome }} sur Wild Séries</h1>
    {% for program in programs %}
    <a class="d-flex " href="{{ path('show_program', {'programTitle': program.title }) }}">
        {{ program.title }}
    </a>
    {% endfor %}

    <br>

    {% for category in categories %}
        <a class="d-flex " href="{{ path('show_category', {'categoryName': category.name }) }}">
            {{ category.name }}
        </a>
    {% endfor %}

    <br>

    <a href="{{ path('wild_index') }}">
        Toutes les séries
    </a>

{% endblock %}
